.table
  .table-row
    .table-cell.sidebar
      %h1
        = t("defaults.thing").titleize + " Adoption"
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        #col1
          %a{:href => "http://codeforamerica.org/"}
            = image_tag "logos/cfa.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
          %br
          %a{:href => "http://bostonbuilt.org/"}
            = image_tag "logos/", :width => 0, :alt => t("sponsors.built"), :title => t("sponsors.built")
        #col2
          %a{:href => "http://www.cityofboston.gov/"}
            = image_tag "logos/south_bend.jpg", :alt => t("sponsors.city"), :title => t("sponsors.city"), :width => '75'
          %p#mayor
            %a{:href => "http://www.cityofboston.gov/mayor/"}
              = "#{t("sponsors.mayor.name")},"
              %em
                = t("sponsors.mayor.title")
      #feedback
        %p
          %a{:href => URI.escape("mailto:adoptahydrant@cityofboston.gov?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} - #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map
        &nbsp;
